.primary{
    background-color: #0078bd;
}

.white-text{
    color: #fff;
}

.grey-text li{
    color: #838383;
    
}

.light-green-text{
    color: #009A9E;
}

.pink-text{
    color: #E13870;
}

.blue-text{
    color: #0078BE;
}

.green-text{
    color: #00802D;
}