.primary{
    background-color: #0078bd;
}

.footer-bg{
    background-color: #202021;
}

.white-text{
    color: #fff;
}

.white-text li{
    color: #fff;
    list-style: none;
    margin-bottom: 2rem;
}

.grey-text{
    color: #838383;
}

.grey-text li{
    color: #838383;
    list-style: none;
}

.light-green-text{
    color: #009A9E;
}

.pink-text{
    color: #E13870;
}

.blue-text{
    color: #0078BE;
}

.green-text{
    color: #00802D;
}