@font-face {
  font-family: "TheMix SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("TheMix SemiBold"),
    url("../fonts/TheMixSemiBold.woff") format("woff");
}

@font-face {
  font-family: "TheMix Bold";
  font-style: normal;
  font-weight: normal;
  src: local("TheMix Bold"), url("../fonts/TheMixBold.woff") format("woff");
}

@font-face {
  font-family: "TheMix Black";
  font-style: normal;
  font-weight: normal;
  src: local("TheMix Black"), url("../fonts/TheMixBlack.woff") format("woff");
}
@font-face {
  font-family: "TheMix Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("TheMix Extra Bold"),
    url("../fonts/TheMixExtraBold.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #131313;
}

html {
  font-size: 62.5%;
  font-family: "TheMix SemiBold";
  letter-spacing: 1px;
}

body {
  font-size: 1.5rem;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: "TheMix Extra Bold";
  text-transform: uppercase;
  padding: 2rem 0rem;
}

h5{
  font-family: "TheMix Extra Bold";
  text-transform: uppercase;
}

.text-align {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 20rem;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  width: 9rem;
}

nav ul {
  display: flex;
  text-transform: uppercase;
  list-style: none;
}

nav ul > li a {
  font-family: "TheMix Bold";
  text-decoration: none;
  padding: 1rem 2rem;
  transition: all 0.2s ease-in;
  color: #fff;
}

nav ul > li a:hover {
  background-color: #ffffff40;
  border-radius: 0.5rem;
}

button {
  padding: 1rem 3rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-family: "TheMix Bold";
  color: #fff;
  background-color: #0078bd;
}

button:hover {
  cursor: pointer;
}

.divider{
  width: 100%;
  border-bottom: solid 1px #131313;
}

.hidden{
  visibility: hidden;
}