hero {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url(../images/slide2.jpg);
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.425);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foundations-section {
  width: 100%;
  height: auto;
  padding-top: 5rem;
  background-color: #f5f5f5;
}

.foundations-section h3 {
  text-align: center;
}

.foundations {
  display: flex;
  padding: 3rem;
  height: auto;
}

.foundations div {
  padding: 5rem;
  background-color: #fff;
  margin: 2rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  transition: all 0.2s ease-in;
}

.foundations div > img {
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}

.blue:hover {
  background-color: #dbe8f0;
}

.aqua:hover {
  background-color: #dcecec;
}

.light-green:hover {
  background-color: #dce8e0;
}

.green:hover {
  background-color: #ecefdc;
}

.pink:hover {
  background-color: #f6e2e7;
}

.video {
  width: 100%;
  height: 50vh;
  background-image: url(../images/Shared-Space-at-BDD.png);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.425);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video iframe {
  margin-bottom: 5rem;
}

.community-section {
  width: 100%;
  height: 90vh;
}
.community {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.community img {
  width: 65rem;
  height: 55rem;
}

.feature {
  width: 30rem;
  height: 55rem;
  padding: 5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/feature-bg.jpg);
  background-size: cover;
  background-blend-mode: lighten;
  background-color: #ffffffa4;
  background-position: center;
  box-shadow: 10px 10px 37px -25px rgba(0, 0, 0, 0.4);
}

.feature-desc ul > li {
  list-style-image: url(../images/bullet-point.ico);
  margin-bottom: 1.5rem;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15rem;
}

.store img {
  width: 25rem;
  margin-right: 5rem;
}

.stats {
  width: 100%;
  height: auto;
  padding: 0 2rem;
  background-image: url(../images/parallax-light.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.stat-icons {
  display: flex;
  justify-content: space-around;
  padding: 0 25rem;
}

.stat-icons span > img {
  width: 9rem;
  height: 9rem;
}

.stat-icons span {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.trending {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 75vh;
  background-image: url(../images/trending-bg.png);
  background-color: #f5f5f5;
  
}

.trending-posts {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.posts {
  width: 40rem;
  height: auto;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 10px 10px 37px -25px rgba(0, 0, 0, 0.4);
}

.posts p,
.posts h4 {
  padding: 0.5rem 5rem;
}

.posts img {
  width: 40rem;
}

.testemonials {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.testemonials img {
  width: 25rem;
  object-fit: contain;
  padding: 3rem 0;
}

.footer{
  width: 100%;
  height: auto;
  padding: 2rem 40rem;
  display: flex;
  justify-content: space-around;
}

.footer-half1{
  display: flex;
  align-items: flex-end;
  gap: 5rem;
}

.footer-half2 p{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.footer-half2 p > img{
  width: 2rem;
  margin-right: 2rem;
}

.footer-half2 a, .footer-half1 a{
  color: #fff;
  text-decoration: none;
  border-collapse: collapse;
  transition: all 0.2s;
}

.footer-half2 a:hover, .footer-half1 a:hover{
  text-decoration: none;
  border-bottom: solid 2px #0078bd;
}

.store2{
  display: flex;
}

.store2 img {
  width: 15rem;
  margin-right: 5rem;
}